body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #efefef;
}

.modal-overlay {
  /* Code here */

  /* Boiler plate */
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  /* Code here */

  /* Boiler plate */
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
}

.grid {
  /* Code here */
}

.grid-item {
  padding: 24px;
  background: white;
  border-radius: 4px;
}
